<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <h4 class="text-center mt-5">「<%= @list.title %>」</h4>
      <div class="text-center">
        <%= image_tag @list.get_list_image(300,300),class: "show-image my-3" %>
      </div>
      <h5 class="text-center"><%= @list.body %></h5>

      <div class="text-center my-5">
        <%= link_to edit_list_path(@list),class: "btn btn-success mr-2" do %>
          編集
        <% end %>
        <%= link_to list_path(@list),method: :delete,"data-confirm"=>"本当に削除しますか？",class: "btn btn-danger" do %>
          削除
        <% end %>
      </div>
    </div>
  </div>
</div>
