<%= form_with url: goods_search_path,method: :get do |f|%>
  <%= f.text_field :keyword %>
  <%= f.submit '検索' %>
<% end %>

<% if @goods.present? %>
  <% @goods.each do |goods| %>
    <li>
      <%= link_to goods.url do %>
        <%= image_tag (goods.medium_image_urls[0]) %>
      <% end %>
      <%= goods.name %>
    </li>
  <% end %>
<% else %>
  <% @outdoors_goods.each do |outdoors_goods| %>
  <li>
    <%= link_to outdoors_goods.url do %>
      <%= image_tag (outdoors_goods.medium_image_urls[0]) %>
      <%= outdoors_goods.name %>
    <% end %>
  </li>
  <% end %>
<% end %>
